<div class="contact-form">
	<h2>发邮件咨询</h2>
	<p>*电子邮箱等任何联系方式将不会公开</p>
	<p>*告诉我你在想什么，告诉我你想知道什么，让我知道如何才能做得更好。我期待你的来信。</p>
	<form class="clearfix" id="contact-form" name="contactForm">
		<div class="input">
			<div class="first">
				<label>姓名</label>
				<input type="text" name="name" autocomplete="on" autofocus="">
			</div>
			<div class="second">
				<label>电话/email</label>
				<input type="email" name="email" autocomplete="on">
			</div>
		</div>
		<div class="third message">
			<label>信件内容</label>
			<span class="error">Your Message are Required!</span>
			<textarea></textarea>
			<button class="contact-button" type="button">发送邮件</button>
		</div>
	</form>
</div>