<div class="header-content">
	<div class="header-logo">
		<a href="http://nature.bee.com">
			<img src="/image/logo.png" alt="自然蜜 nature bee">
		</a>
	</div>
	<div class="header-menu">
		<div class="header-menu-index">
			<a href="#index">
				<img src="/image/menu-index.png" alt="首页">
			</a>
		</div>
		<div class="header-menu-comment">
			<a href="#comment">
				<img src="/image/menu-comment.png" alt="评论区">
			</a>
		</div>
		<div class="header-menu-contact">
			<a href="#contact">
				<img src="/image/menu-contact.png" alt="联系我">
			</a>
		</div>
	</div>
	<div class="header-qrcode">
		<div class="header-qrcode-hat">
			<img src="/image/hat.png">
		</div>
		<div class="header-qrcode-entity">
			<img src="/image/qrcode.png" alt="二维码">
		</div>
	</div>
</div>