<div class="mask"></div>
<div class="close-mask"></div>
<div class="performance-flying-area"></div>
<div class="performance-title"></div>

<div class="performance-video-bee performance-video">
	<div class="video-square">
	</div>
</div>
<embed id="video-bee" src="http://player.youku.com/player.php/sid/XNTEyOTM1MDQ4/v.swf" allowFullScreen="true" quality="high" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>

<div class="performance-sliding-enviroment clearfix">
	<img src="/image/sliding-item-1.jpg" alt="">
	<img src="/image/sliding-item-2.jpg" alt="">
	<img src="/image/sliding-item-3.jpg" alt="">
	<img src="/image/sliding-item-4.jpg" alt="">
	<img src="/image/sliding-item-5.jpg" alt="">
</div>

<div class="performance-video-process performance-video">
	<div class="video-square">
	</div>
</div>
<embed id="video-process" src="http://player.youku.com/player.php/sid/XNTEyOTM1MDQ4/v.swf" allowFullScreen="true" quality="high" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>

<div class="performance-up">
	<img src="/image/up.png" alt="">
</div><!-- / -->